.calculator-container {
  width: 90%;
  padding: 20px;
  margin: 45px auto 0; 
  overflow-x: hidden; 
}
.cb{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.calculator-banner img {
  width: 100%;
  height: auto; 
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin: 0 auto;
  padding: 0; 
  max-width: 100%; 
  justify-items: center; 
}

.calculator-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top:20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calculator-image {
  width: 100%; 
  max-width: 250px; 
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.calculator-card h3 {
  font-size: 16px;
  margin: 0 10 0 0; 
}

.calculator-card p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 0 10 0 0; 
}

.add-to-cart-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  align-self: start;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}

.calculator-card:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .calculator-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width:768px){
  .calculator-image {
    max-width: 100px; 
    height: auto;
  }
  .calculator-banner img{
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .calculator-grid {
    grid-template-columns: 1fr; 
    padding: 0; 
    justify-items: center; 
  }

  .calculator-image {
    max-width: 100px; 
    height: auto;
  }
  .calculator-card h3 {
    font-size: 14px;
    margin:0 10 0 0; 
  }
  .add-to-cart-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: start;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .calculator-banner img{
    margin-top:70px;
  }
 
}

* {
  box-sizing: border-box; 
}
